@media screen and (max-width: 768px) {
  .Nav-links{
    display: none;
  }
}
nav{
  z-index: 99;
}
/* @media screen and (max-width: 480px) {
  .main-bar{
    width: 100dvw;
    background-color: green;
  }
} */